@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.monthly {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}
/* .button {
  background-color: #8093f1;
  height: 50px;
  width: 250px;
  color: #ffe900;
  border-style: none;
  font-family: "Varela Round", sans-serif;
  /* outline-style: none;
   
  outline-color: #020202;
} */
